# Ignore arquivos de ambiente Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore arquivos de notebook temporários
*.ipynb_checkpoints/

# Ignore arquivos de configuração do VSCode
.vscode/

# Ignore arquivos de dados e resultados
/data/
*.csv
*.xlsx
*.xls
*.sav
*.h5
*.zip
*.tar.gz

# Ignore arquivos de ambiente virtual
.env/
.venv/
env/
venv/

# Ignore requirements gerado automaticamente
requirements.txt

# Ignore arquivos do sistema
.DS_Store
Thumbs.db
